{% extends 'base.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="country">
            {% block form %}{% endblock %}
        </div>

        {% block return %}
            <div class="row">
                <br>
                <a href="{{ path('countries.list') }}">{{ 'form.back'|trans }}</a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
