<p>Hello,</p>

<p>This is a reminder to contribute to the aftermarket market model for the region {{ regionName }} before the {{ deadline|date("d-m-Y") }}.</p>

<p>To send your feedback, please follow the
    <a href="{{ url('contributions.contributor.list') }}">link.</a>
</p>

<p>Thank you, the AM MM Automation application.</p>
