<p>Hello,</p>

<p>A new feedback has been sent for the market {{ countryName }}.</p>

<p>You can view the feedback by following the link: <a href="{{ url('contributions.admin.view', {country: countryId}) }}">link.</a></p>

<p>Thank you, the AM MM Automation application.</p>
