vendor/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.ide
docker/.db
docker/logs
.idea/
node_modules/
web/build/
docker/.data
app/config/parameters.yml
/.env
/app/supervisor/*
/web/logs/*
!web/logs/.gitkeep
