<p>Hello,</p>

<p>You have been requested to submit your feedback on the aftermarket market model for the region {{ regionName }} before the {{ deadline|date('d/m/Y') }}. To contribute, please follow the <a href="{{ url('contributions.contributor.list') }}">link.</a></p>

<p>Thank you, {{ requester }} via the AM MM Automation application.</p>
