<p>Hello,</p>

<p>A new user account has been created for you in the AM MM Automation Application with the following connection details:</p>

<p>Username: {{ username }}</p>

<p>Password: {{ password }}</p>

<p>To log in to the application please follow the <a href="{{ url('homepage') }}">link.</a></p>

<p>You may change your password once connected via the Profile page on top.</p>

<p>The AM MM Automation team</p>
